[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-admin = "6.0.1"
faker = "18.11.2"
python-dotenv = "1.0.0"
python-multipart = "0.0.6"
networkx = "3.1"
uvicorn = {extras = ["standard"], version = "0.23.2"}
python-jose = {extras = ["cryptography"], version = "3.3.0"}
passlib = {extras = ["bcrypt"], version = "1.7.4"}
motor = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
